.sections {
  padding-top: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  background: $dark-blue-color;
  justify-content: center;
  align-items: center;

  &__header {
    padding: 2% 0 3%;
    width: $desktop;
    max-width: $desktop;

    @media only screen and (max-width: $desktop) {
      width: $tablet;
    }

    @media only screen and (max-width: $tablet) {
      width: 90%;
      padding: 2% 5% 3%;
    }

    h2 {
      color: white;
      font-family: $font-mono;
      margin-bottom: .33em;
      
      @media only screen and (max-width: $tablet) {
        font-size: 1.17em;
      }
    }

    p {
      margin: 0 auto;
      color: $mid-gray-color;
      line-height: 1.5;
      font-weight: 300;

      @media only screen and (max-width: $tablet) {
        font-size: 0.8em;
      }
    }
  }

  &__body {
    padding: 0 0 3%;
    width: $desktop;
    max-width: $desktop;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $desktop) {
      width: $tablet;
    }

    @media only screen and (max-width: $tablet) {
      width: 90%;
      padding: 0 5% 3%;
    }

    h4 {
      color: white;
      font-family: $font-mono;
    }
  }

  &--light {
    background: white;

    .section__header {
      h2 {
        color: $mid-blue-color;
      }

      p {
        color: $light-blue-color;
      }
    }

    .section__body {
      h4 {
        color: $mid-blue-color;
      }
    }
  }

  &--error {
    background: pink;
    border: 1px solid red;
    color: red;
    padding: 20px;
  }

  &__panel {
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 1.6em;
  }
}


