.dna-section {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.83em;
    color: white;
    font-family: $font-mono;
  }

  textarea {
    font-family: $font-mono;
    background: $light-gray-color;
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 4px;
    height: 14.4em;
    width: 100%;
    resize: none;
    margin-bottom: 1.6em;

    &:focus {
      background: white;
    }
  }
}


