$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: 'JetBrains Mono', monospace, sans-serif;

$light-blue-color: #76aef5;
$mid-blue-color: #0971f1;
$dark-blue-color: #37468c;

$light-gray-color: #f3f4f9;
$mid-gray-color: #c0c4d1;
$dark-gray-color: #4a4a4d;

$cubic-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$hover-transition: all 0.25s $cubic-bezier;

$desktop: 1280px;
$tablet: 1024px;
$phone: 768px;

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}
p {
  font-size: 1em;
}

@keyframes slideUp {
  0% {
    max-height: 1200px;
  }
  100% {
    max-height: 0; overflow: hidden;
  }
}

@keyframes slideDown {
  0% {
    max-height: 0; overflow: hidden;
  }
  100% {
    max-height: 1200px;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-sans-serif;
  background: $light-gray-color;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  padding: 0 2%;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: white;
  border-bottom: 1px solid $light-blue-color;
  z-index: 2;

  &__title {
    font-family: $font-mono;
    font-size: 1.5em;
    color: $mid-blue-color;
    margin: 0 auto;

    @media only screen and (max-width: $tablet) {
      font-size: 1.17em;
    }

    @media only screen and (max-width: $phone) {
      text-align: left;
      margin: 0 80px 0 20px;
    }
  }
}

.main {
  padding-top: 100px;
}

.toggle {
  &__btn {
    position: fixed;
    top: 26px;
    right: 36px;
    font-size: 2em;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background: $mid-blue-color;
    color: $light-gray-color;
    cursor: pointer;
    transition: $hover-transition;
    z-index: 3;

    @media only screen and (max-width: $tablet) {
      top: 32px;
      right: 36px;
      font-size: 1.5em;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }

    &:hover {
      color: white;
      background: $light-blue-color;
    }
  }
}

.form {
  display: flex;
  background: $dark-blue-color;
  justify-content: center;

  &.visible {
    animation: slideDown .4s forwards $cubic-bezier;
  }

  &.hidden {
    animation: slideUp .4s forwards $cubic-bezier;
  }

  &__sections {
    display: flex;
    width: $desktop;
    justify-content: space-around;
    margin: 48px auto;

    @media only screen and (max-width: $desktop) {
      width: 90%;
    }

    @media only screen and (max-width: $phone) {
      flex-direction: column;
    }
  }

  &__section {
    width: 40%;

    @media only screen and (max-width: $phone) {
      width: 100%;
    }

    &__header {
      h4 {
        color: $light-blue-color;
        font-family: $font-mono;
        font-size: 0.83em;
      }

      h2 {
        color: white;
        font-family: $font-mono;
        margin-bottom: .33em;
      }

      p {
        margin: 0 auto 3em;
        color: $mid-gray-color;
        line-height: 1.5;
        font-weight: 300;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $phone) {
        margin-bottom: 44px;
      }

      label {
        margin-bottom: 0.83em;
        color: white;
        font-family: $font-mono;
      }

      textarea {
        font-family: $font-mono;
        background: $light-gray-color;
        border: none;
        outline: none;
        padding: 1em;
        border-radius: 4px;
        height: 14.4em;
        width: 100%;
        resize: none;
        margin-bottom: 1.6em;

        &:focus {
          background: white;
        }
      }

      button {
        font-family: $font-sans-serif;
        background: $mid-blue-color;
        color: $light-gray-color;
        padding: 12px 32px;
        border: none;
        outline: none;
        border-radius: 4px;
        font-family: $font-mono;
        text-transform: uppercase;
        margin-right: auto;
        cursor: pointer;
        transition: $hover-transition;

        &:hover {
          color: white;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.viz {
  display: flex;
  border-bottom: 1px solid $light-blue-color;

  &__section {
    display: flex;
    width: $desktop;
    align-content: flex-start;
    margin: 48px auto;

    @media only screen and (max-width: $desktop) {
      width: 90%;
    }

    &__header {
      display: flex;
      flex-direction: column;
      height: 184px;
      text-align: right;
      min-width: 192px;
      font-size: 0.83em;
      border-top: 1px solid $mid-gray-color;

      @media only screen and (max-width: $phone) {
        min-width: 108px;
      }
    }

    &__header-item {
      border-bottom: 1px solid $mid-gray-color;
      border-left: 1px solid $mid-gray-color;
      border-right: 1px solid $mid-gray-color;
      position: relative;

      &:nth-child(1) {
        margin-bottom: 96px;
      }

      &:nth-child(2) {
        border-top: 1px solid $mid-gray-color;
      }

      h3 {
        margin: 0;
        color: $dark-gray-color;
        font-family: $font-mono;
        height: 42px;
        line-height: 42px;
        padding-right: 32px;
        font-size: 0.83em;

        @media only screen and (max-width: $phone) {
          font-size: 0.67em;
        }
      }

      i {
        position: absolute;
        right: 8px;
        top: 0;
        color: $mid-gray-color;
        font-size: 1.5em;
        height: 42px;
        line-height: 42px;
        cursor: pointer;
      }
    }

    &__header-tooltip {
      display: flex;
      position: absolute;
      z-index: 1;
      padding: 6px 12px;
      border: 1px solid $dark-gray-color;
      background: white;
      line-height: 1.5;
      font-size: 0.83em;
      text-align: left;
      min-width: 330px;
    }

    &__body {
      overflow-x: scroll;
    }
  }
}

.sequence {
  display: flex;
  font-family: $font-mono;
}

.base {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: 1px solid $light-gray-color;
  cursor: pointer;
  transition: $hover-transition;

  &:hover {
    opacity: 0.85;
  }

  &__u {
    color: $dark-gray-color;
  }

  &__a,
  &__c,
  &__g {
    color: white;
  }

  &__tooltip {
    display: flex;
    left: 0;
    bottom: -32px;
    position: absolute;
  }

  &__tooltip-name {
    margin: 0;
    font-size: 0.67em;
    padding: 0 12px;
    height: 20px;
    line-height: 20px;
  }

  &__tooltip-line {
    width: 1px;
    bottom: 15px;
    height: 20px;
    position: absolute;
  }

  &.base__rna {
    .base__tooltip {
      top: -32px;
      bottom: auto;
    }

    .base__tooltip-line {
      top: 15px;
      bottom: auto;
    }
  }

  &.base__last-item {
    .base__tooltip,
    .base__tooltip-line {
      left: auto;
      right: 0;
    }
  }
}

.arrows {
  display: flex;

  .arrow {
    height: 96px;
    line-height: 96px;
    display: block;
    color: $mid-gray-color;

    i {
      height: 96px;
      line-height: 96px;
      width: 44px;
      text-align: center;
    }
  }
}

.polypeptides {
  display: flex;
}

.amino-acids {
  display: flex;
}

.amino-acid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 44px;
  border: 1px solid $light-gray-color;
  background: $dark-blue-color;
  flex-direction: column;
  text-align: center;
  font-family: $font-mono;

  &__name {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $light-gray-color;
    color: $light-gray-color;
    font-size: 0.83em;
  }

  &__prop-type {
    text-transform: uppercase;
    font-size: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-gray-color;
    font-size: 0.67em;
  }

  &__diagram {
    min-height: 100px;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid $light-gray-color;

    img {
      width: 100%;
    }
  }
}



